{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  
  <div class="content">
    <a href="webrun:C:\Users\ayush\OneDrive\SQLiteDatabaseBrowserPortable\SQLiteDatabaseBrowserPortable.exe">SQL</a>
    <div class="card-columns">
      <div class="col-auto">
        <button onclick="location.href='/mis-full'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            MIS Full
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/pf-mis'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            PF MIS
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/mis'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            MIS
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/mis'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            VC NO
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/grn'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Grn Master
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/leci'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            LECI Master
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/Inco-Terms'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
             Inco Terms
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/vendor'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Vendor Master
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/Weight-Master'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Weight Master
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/part'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Part Master
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/cbm-cft'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            CBM/CFT
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/rate-master'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Rate Master
          </button>
      </div>

      <div class="col-auto">
        <button onclick="location.href='/origin-state'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Origin State
          </button>
      </div>

      <div class="col-auto">
        <button onclick="location.href='/transporter-master'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Transporter Master
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/svps-remark'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            SVPS Remark
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/po'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            PO
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/ses'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            SES
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/inbound-shipment'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Inbound Shupment
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/svps'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            SVPS
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/lr-bill'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            LR+BILL
          </button>
      </div>

      <div class="col-auto">
        <button onclick="location.href='/fast-dump'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Fast Dump
          </button>
      </div>

      <div class="col-auto">
        <button onclick="location.href='/pf-lsp-mis'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            PF LSP MIS
          </button>
      </div>

      <div class="col-auto">
        <button onclick="location.href='/distance-range'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Distance Range
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/rate'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Rate
          </button>
      </div>
      <div class="col-auto">
        <button onclick="location.href='/recovery-condition'" style="width: 250px; height: 70px ;" class="btn btn-primary btn-simple ">
            Recovery Condition
          </button>
      </div>
      
      
    
      </div>
    
  </div>
      
      

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
