{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="content">
    <div class="card-columns">
      <div class = "col-md-18">
    <form class = "form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <input class="btn btn-info btn-simple"  name = "excel" title=".xlsx"s  type="file" >
    <input class="btn btn-info btn-simple" type="submit" value="ok"> 
  </form>
  <form action="{% url 'download' %}" method="post">
    {% csrf_token %}
     <button type="submit" name="data" class="btn btn-warning btn-simple" value="LECI Dump">Download results in Excel</button>
     </form>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> MIS </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " border="1">
              
                <thead class=" text-primary">
                    <!--<th>
                      Activity (from manual-Vinsum MIS)
                    </th>
                    <th>
                      PAYMENT TYPE (from master)
                    </th>
                    <th>
                      LR no.
                    </th>
                    <th>
                      LR dt.
                    </th>
                    <th>
                      Consignor
                    </th>
                    <th>
                      Consignee
                    </th>
                    <th>
                      Consignor Loaction
                    </th>
                    <th>
                      Location Code
                    </th>
                    <th>
                      State
                    </th>
                    <th>
                      Activity Status
                    </th>
                    <th>
                      Location
                    </th>
                    <th>
                      Delivery Date
                    </th>
                    <th>
                      Grn Number
                    </th>
                    <th>
                      Invoice No.
                    </th>
                    <th>
                      Invoice Date
                    </th>
                    <th>
                      Vendor PO No
                    </th>
                    <th>
                      Part No.
                    </th>
                    <th>
                      PKG
                    </th>
                    <th>
                      PKG TYPE
                    </th>
                    <th>
                      Qty.
                    </th>
                    <th>
                      Actual Wt. (KG)
                    </th>
                    <th>
                      LSP Name
                    </th>
                    <th>
                      Inco-Terms
                    </th>
                    <th>
                      GRN Part No
                    </th>
                    <th>
                      GRN Invoice No
                    </th>
                    <th>
                      MB02 Qty.
                    </th>
                    <th>
                      Remark
                    </th>
                    <th>
                      Weight/Part
                    </th>
                    <th>
                      Consider Weight
                    </th>
                    <th>
                      Rate
                    </th>
                    <th>
                      Amount
                    </th>
                    <th>
                      Bill No.
                    </th>
                    <th>
                      Bill Date
                    </th>
                    <th>
                      SES No.
                    </th>
                    <th>
                      SES Dt.
                    </th>
                    <th>
                      2nd Rel. Dt.
                    </th>
                    <th>
                      SES Status
                    </th>
                    <th>
                      SVPS Status (27th Dec-21)
                    </th>-->
                    
                    <tr>
                      {% for x in col %}
                    <td>
                      {{x}}
                    </td>
                    {% endfor %}
                  </tr>
                  
                </thead>
                <tbody>
                  <tr>
                    {% for x in weight %}
                    
                    <td>
                      {{x.activity}}
                    </td>
                    <td>
                      {{x.part_no_field}}
                    </td>
                    <td>
                      {{x.part_description}}
                    </td>
                    <td>
                        {{x.supplier_code}}
                      </td>
                      <td>
                        {{x.supplier_name}}
                      </td>
                      <td>
                        {{x.approved_packging}}
                      </td>
                      <td>
                        {{x.actual_packging}}
                      </td>
                      <td>
                        {{x.indivudual_part_s_wt_field}}
                      </td>
                      <td>
                        {{x.indivudual_box_s_wt_field}}
                      </td>
                      <td>
                        {{x.qty_box}}
                      </td>
                      <td>
                        {{x.gross_wt_field}}
                      </td>
                      <td>
                        {{x.wt_part}}
                      </td>
                      <td>
                        {{x.l_mm_field}}
                      </td>
                      <td>
                        {{x.w_mm_field}}
                      </td>
                      <td>
                        {{x.h_mm_field}}
                      </td>
                      <td>
                        {{x.cbm_volumetric}}
                      </td>
                      <td>
                        {{x.cbm_against_gross_wt}}
                      </td>
                      <td>
                        {{x.chargeable_cbm_for_cc}}
                      </td>
                      <td>
                        {{x.cbm_part}}
                      </td>
                      <td>
                        {{x.wt_cft_volumetric_ptl}}
                      </td>
                      <td>
                        {{x.wt_cft_against_gross_wt_ptl}}
                      </td>
                      <td>
                        {{x.chargeable_cft_for_ptl}}
                      </td>
                      <td>
                        {{x.wt_part_ptl}}
                      </td>
                      <td>
                        {{x.wt_cft_volumetric_express_road}}
                      </td>
                      <td>
                        {{x.wt_cft_against_gross_wt_express_road}}
                      </td>
                      <td>
                        {{x.chargeable_cft_for_express_road}}
                      </td>
                      <td>
                        {{x.wt_part_express_road}}
                      </td>
                      <td>
                        {{x.volumetric_wt_air}}
                      </td>
                      <td>
                        {{x.gross_wt_air}}
                      </td>
                      <td>
                        {{x.chargeable_cft_for_air}}
                      </td>
                      <td>
                        {{x.wt_part_air}}
                      </td>
                      <td>
                        {{x.volumetric_wt_train}}
                      </td>
                      <td>
                        {{x.gross_wt_train}}
                      </td>
                      <td>
                        {{x.chargeable_cft_for_train}}
                      </td>
                      <td>
                        {{x.wt_part_train}}
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="pagination">
                <span class="step-links">
                    {% if weight.has_previous %}
                        <a href="/Weight-Master?page=1">&laquo; first</a>
                        <a href="/Weight-Master?page={{ weight.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ weight.number }} of {{ weight.paginator.num_pages }}.
                    </span>
            
                    {% if weight.has_next %}
                        <a href="/Weight-Master?page={{ master.next_page_number }}">next</a>
                        <a href="/Weight-Master?page={{ master.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            </div>
          </div>
        </div>
      </div>
      
      

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}